<header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">Xuenn Technical Lab</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span id="now-quiz-id" class="label label-danger"></span>
                    </a>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@Href("~/Content/images/teacher.png")" class="user-image" alt="User Image" />
                        <span class="hidden-xs">Raistlin Chen</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>