<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 351px;">
        <section class="sidebar" style="height: 351px; overflow: hidden; width: auto;">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@Href("~/Content/images/teacher.png")" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Raistlin Chen</p>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li>
                    <a class="quiz-menu" data-item-id="info" href="#"><i class="fa fa-book"></i>Guide</a>
                </li>
                <li class="header">LAB QUESTION</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Question 1-10</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="quiz-menu" data-item-id="Q1" href="#"><i class="fa fa-circle-o"></i>Question 1</a></li>
                        <li><a class="quiz-menu" data-item-id="Q2" href="#"><i class="fa fa-circle-o"></i>Question 2</a></li>
                        <li><a class="quiz-menu" data-item-id="Q3" href="#"><i class="fa fa-circle-o"></i>Question 3</a></li>
                        <li><a class="quiz-menu" data-item-id="Q4" href="#"><i class="fa fa-circle-o"></i>Question 4</a></li>
                        <li><a class="quiz-menu" data-item-id="Q5" href="#"><i class="fa fa-circle-o"></i>Question 5</a></li>
                        <li><a class="quiz-menu" data-item-id="Q6" href="#"><i class="fa fa-circle-o"></i>Question 6</a></li>
                        <li><a class="quiz-menu" data-item-id="Q7" href="#"><i class="fa fa-circle-o"></i>Question 7</a></li>
                        <li><a class="quiz-menu" data-item-id="Q8" href="#"><i class="fa fa-circle-o"></i>Question 8</a></li>
                        <li><a class="quiz-menu" data-item-id="Q9" href="#"><i class="fa fa-circle-o"></i>Question 9</a></li>
                        <li><a class="quiz-menu" data-item-id="Q10" href="#"><i class="fa fa-circle-o"></i>Question 10</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Question 11-20</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="quiz-menu" data-item-id="Q11" href="#"><i class="fa fa-circle-o"></i>Question 11</a></li>
                        <li><a class="quiz-menu" data-item-id="Q12" href="#"><i class="fa fa-circle-o"></i>Question 12</a></li>
                        <li><a class="quiz-menu" data-item-id="Q13" href="#"><i class="fa fa-circle-o"></i>Question 13</a></li>
                        <li><a class="quiz-menu" data-item-id="Q14" href="#"><i class="fa fa-circle-o"></i>Question 14</a></li>
                        <li><a class="quiz-menu" data-item-id="Q15" href="#"><i class="fa fa-circle-o"></i>Question 15</a></li>
                        <li><a class="quiz-menu" data-item-id="Q16" href="#"><i class="fa fa-circle-o"></i>Question 16</a></li>
                        <li><a class="quiz-menu" data-item-id="Q17" href="#"><i class="fa fa-circle-o"></i>Question 17</a></li>
                        <li><a class="quiz-menu" data-item-id="Q18" href="#"><i class="fa fa-circle-o"></i>Question 18</a></li>
                        <li><a class="quiz-menu" data-item-id="Q19" href="#"><i class="fa fa-circle-o"></i>Question 19</a></li>
                        <li><a class="quiz-menu" data-item-id="Q20" href="#"><i class="fa fa-circle-o"></i>Question 20</a></li>
                        <li><a class="quiz-menu" data-item-id="Q21" href="#"><i class="fa fa-circle-o"></i>Question 21</a></li>
                        <li><a class="quiz-menu" data-item-id="Q22" href="#"><i class="fa fa-circle-o"></i>Question 22</a></li>
                        <li><a class="quiz-menu" data-item-id="Q23" href="#"><i class="fa fa-circle-o"></i>Question 23</a></li>
                        <li><a class="quiz-menu" data-item-id="Q24" href="#"><i class="fa fa-circle-o"></i>Question 24</a></li>
                        <li><a class="quiz-menu" data-item-id="Q25" href="#"><i class="fa fa-circle-o"></i>Question 25</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Question 21-25</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="quiz-menu" data-item-id="Q21" href="#"><i class="fa fa-circle-o"></i>Question 21</a></li>
                        <li><a class="quiz-menu" data-item-id="Q22" href="#"><i class="fa fa-circle-o"></i>Question 22</a></li>
                        <li><a class="quiz-menu" data-item-id="Q23" href="#"><i class="fa fa-circle-o"></i>Question 23</a></li>
                        <li><a class="quiz-menu" data-item-id="Q24" href="#"><i class="fa fa-circle-o"></i>Question 24</a></li>
                        <li><a class="quiz-menu" data-item-id="Q25" href="#"><i class="fa fa-circle-o"></i>Question 25</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 124.697368421053px; background: rgba(0, 0, 0, 0.2);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
    </div>
    <!-- /.sidebar -->
</aside>