<?xml version="1.0" encoding="utf-8" ?>
<Connections xmlns="urn:Connections">
  <ConnectionString type="MSSQL" source="." id="sa" pw="pass.123" db="NorthwindChinese"/>
  <ConnectionString type="Oracle" source="." id="sa" pw="pass.123" db="NorthwindChinese"/>
  <ConnectionString type="MongoDB" source="." id="sa" pw="pass.123" db="NorthwindChinese"/>
</Connections>