@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Xuenn Technical Lab</h1>
    <p>From Min & Max</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/Lab/Exam">New Version</a>
        <a class="btn btn-danger btn-lg" href="/Content/Quiz/mssql/Default.html">Old Version</a>
    </p>
</div>